
<!-- Mainly scripts -->
<script src="/js/admin/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/admin/inspinia.js"></script>
<script src="/js/admin/plugins/pace/pace.min.js"></script>


</div>
</div>
</body>
</html>